/* ************* start microsoft******************/
#microsoft .bgi{
    background-image: url("../images/articles.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#microsoft h2 {
    font-size: 1.2rem;
    position: relative;
    text-align: right;
    padding: 15px;
}

#microsoft h2::before {
    content: "";
    width: 3px;
    height: 50%;
    position: absolute;
    top: 26%;
    right: 9px;
    background-color: #09c;
}
#microsoft .contain{
    box-shadow: 3px 5px 12px #999,
    -3px -5px 12px #999;
    border-radius: 7%;
    height: 300px;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}
#microsoft .contain .cont_img{
    width: 100%;
    height: 50%;
}
#microsoft .contain .cont_img img {
    height: 100%;
    width: 100%;
}
#microsoft .contain .cont_text{
    width: 100%;
    height: 30%;
    padding: 5px;
    text-align: center;
}
#microsoft .contain .view{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 29%;
}
#microsoft .contain .view p .btn {
    border-radius: 1.25rem;
}
#microsoft .contain .view p .btn-success {
    color: #fff;
    background-color: #163876;
    border-color: #1335db;
}
#microsoft nav{display: flex;
    justify-content: center;}
#microsoft .pagination {
    justify-content: center;
    display: flex;
    padding-right: 0;
    list-style: none;
    border-radius: .25rem;
}
/* ************* end microsoft******************/

@media (min-width: 576px) and (max-width: 767.98px){
    #microsoft .pagination {
        width: 63%;
    }
    #microsoft{
        padding: 30px;
    }
    #microsoft .contain{
        box-shadow: 3px 5px 12px #999,
        -3px -5px 12px #999;
        border-radius: 7%;
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
    }
    #microsoft .contain .cont_img{
        width: 100%;
        height: 50%;
    }
    #microsoft .contain .cont_text{
        width: 100%;
        height: 30%;
        padding: 2px;
        text-align: center;
    }
    #microsoft .contain .view{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 29%;
    }
    #microsoft .contain .view p .btn {
        border-radius: 1rem;
    }
    #microsoft .contain .view p .btn-success {
        color: #fff;
        background-color: #163876;
        border-color: #1335db;
    }
    #microsoft a{
        display: block;
        width: 15%;
        margin: auto;
        color: #fff;
        background-color: #163876;
        border-color: #1335db;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px #163876;
    }
    #microsoft .col-sm-5 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        position: relative;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #microsoft .col-sm-2{
        flex: 0 0 8.333333%;
        position: relative;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #microsoft .contain .view p .btn {
        font-size: 11px;
    }

}
@media (max-width: 575.98px){
    #microsoft {padding: 20px 0px;}
    #microsoft .container {padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;}

}

@media (min-width: 768px) and (max-width: 1200.98px){
    #microsoft.pagination {
        width: 47%;
    }
    #microsoft .pagination {
        width: 63%;
    }
    #microsoft{
        padding: 30px;
    }
    #microsoft .contain{
        box-shadow: 3px 5px 12px #999,
        -3px -5px 12px #999;
        border-radius: 7%;
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
    }
    #microsoft .contain .cont_img{
        width: 100%;
        height: 50%;
    }
    #microsoft .contain .cont_text{
        width: 100%;
        height: 30%;
        padding: 2px;
        text-align: center;
    }
    #microsoft .contain .view{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 29%;
    }
    #microsoft .contain .view p .btn {
        border-radius: 1rem;
    }
    #microsoft .contain .view p .btn-success {
        color: #fff;
        background-color: #163876;
        border-color: #1335db;
    }
    #microsoft a{
        display: block;
        width: 15%;
        margin: auto;
        color: #fff;
        background-color: #163876;
        border-color: #1335db;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px #163876;
    }
    #microsoft .col-sm-5 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        position: relative;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #microsoft .col-sm-2{
        flex: 0 0 8.333333%;
        position: relative;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #microsoft .contain .view p .btn {
        font-size: 11px;
    }

}
.scroll{
    display: block;
    position: fixed;
    border-radius: 50%;
    bottom: 80px;
    right: 10px;
    color: #152f8d;
    cursor: pointer;

}
.fa {
    display: none;}
.loading{
    visibility: visible;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999999;
    background-color: #09c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
